[submodule "ml-snap-utils"]
	path = ml-snap-utils
	url = https://github.com/canonical/ml-snap-utils.git
[submodule "famous-models-dev"]
	path = dev
	url = https://github.com/canonical/famous-models-dev
