name: Testflinger tests

on:
  # Manual trigger
  workflow_dispatch:
    inputs:
      snap-channel:
        description: 'Snap store channel to test'
        required: true
        type: string

jobs:
  test-chat:
    name: deepseek-r1 ${{ matrix.jobs.select-engine }}
    strategy:
      # max-parallel: Don't use this as the self-hosted Github runners team wants to see and fix scaling issues.
      # These limits also do not apply to dynamic instances, like the standard self-hosted runners.
      fail-fast: false
      matrix:
        jobs:
          - select-engine: cpu
            job-queue: maas-systemtests-amd64
            provision-data: "distro: noble"

          - select-engine: cpu-avx512
            job-queue: maas-systemtests-amd64
            provision-data: "distro: noble"

          - select-engine: cpu-legacy
            job-queue: maas-systemtests-amd64
            provision-data: "distro: noble"

          - select-engine: cpu-tiny
            job-queue: maas-systemtests-amd64
            provision-data: "distro: noble"

          - select-engine: intel-cpu
            job-queue: mir-intel-noble
            provision-data: "distro: noble"

          - select-engine: intel-gpu
            job-queue: 202111-29603 # Alder Lake, GPU 8086:4680
            provision-data: "distro: noble"

          - select-engine: intel-npu
            job-queue: hp-prodesk-4-sff-g1i-desktop-ai-pc-ag8j7av-c36704
            provision-data: "url: https://tel-image-cache.canonical.com/oem-share/sutton/releases/noble/oem-24.04c/20251009-80/sutton-noble-oem-24.04c-20251009-80.iso"
            install-intel-npu-driver: true

          - select-engine: cuda
            job-queue: anbox-nvidia-amd64
            provision-data: "distro: noble"
            expected-tps: 10 # Samples: 32.6
            install-nvidia-driver-version: 550

          - select-engine: ampere-altra
            job-queue: ampere-altra
            provision-data: "distro: noble"
            expected-tps: 9 # Samples: 10.39

          - select-engine: ampere-one
            job-queue: ampere-one
            provision-data: "distro: noble"
            expected-tps: 9 # Samples: 15.97, 9.93

    uses: canonical/inference-snaps-testing/.github/workflows/test-chat.yml@test-chat
    secrets: inherit
    with:
      snap-name: deepseek-r1
      snap-channel: ${{ inputs.snap-channel }}
      job-queue: ${{ matrix.jobs.job-queue }}
      provision-data: ${{ matrix.jobs.provision-data }}
      select-engine: ${{ matrix.jobs.select-engine }}
      install-nvidia-driver-version: ${{ matrix.jobs.install-nvidia-driver-version }}
      install-intel-npu-driver: ${{ matrix.jobs.install-intel-npu-driver == true }}
